<!DOCTYPE html>
<html>
<title>World Bank Data</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./static/drop.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


<body>
<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:32px 32px">
  <h1 class="w3-xlarge">World Bank Data Visualization</h1>
</header>

<!-- data columns -->
<div class="w3-row-padding" style="margin-bottom:64px">
  <div class="w3-half" style="margin-bottom:32px">
    <h3>Explore Datasets</h3>
        <p>Select Option</p>
      <form action="/getdata"  method="GET" width="25%">
          <select name="features" width="25%">
          {% for i in features %}
            <option value="{{i}}" SELECTED>{{i}}</option>"
          {% endfor %}
        </select>
        <input type="submit">
      </form><br>

  </div>

  <div class="w3-half" style="margin-bottom:32px">
    <h3>Data Preview</h3>
      {{dataset_name}}<br>

      {% for i in prop %}
        {{i|safe}}
      {% endfor %}
  </div>
</div>
</div>
</body>

<!-- datatable jquery script -->
<script type="text/javascript">
  $(document).ready( function () {
      $('#table_id').DataTable();
  }  );
</script>

</html>